body {
    display: flex;
    background-color:
        /*#f4f2f9*/
        #fbfbfb;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #353535;
    text-decoration: none;
    background-color: #fcf7b6;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #616161;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #616161;
}

.sidebar {
    width: 250px;
    height: auto !important;
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

@media (min-width: 320px) and (max-width:359px) {
    .element-box {
        width: 285px;
    }
}

@media (min-width: 360px) and (max-width:384px) {
    .element-box {
        width: 325px;
    }
}

@media (min-width: 385px) and (max-width:411px) {
    .element-box {
        width: 350px;
    }
}

@media (min-width: 412px) and (max-width: 499px) {
    .element-box {
        width: 550px;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .element-box {
        width: 350px;
    }
}

@media (min-width: 600px) and (max-width: 630px) {
    .element-box {
        width: 350px;
    }
}

@media (min-width: 630px) and (max-width: 670px) {
    .element-box {
        width: 350px;
    }
}

@media (min-width: 670px) and (max-width: 740px) {
    .element-box {
        width: 350px;
    }
}

@media (min-width: 740px) and (max-width: 768px) {
    .element-box {
        width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .element-box {
        width: 715px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 1000;
        background-color: #fff;
        padding: 0;
    }

    .sidebar img.logo-SIGEM {
        order: -1;
        width: 150px;
        margin: 5px;
    }

    .sidebar h3 {
        order: -1;
        width: 100%;
        text-align: center;
        margin: 5px 0;
        font-size: 12px;
    }

    .sidebar a.nav-link {
        flex: 1 1 auto;
        text-align: center;
        padding: 10px;
    }


    .conteudo,
    .margin-top {
        padding-top: 565px;
    }
}


.sidebar .nav-link {
    color: #000;
}

.sidebar .nav-link:hover,
.nav-link.active {
    background-color: #f8f5ff;
    color: #e2a925;
}

.content {
    flex: 1;
    padding: 20px;
}

.logo-SIGEM {
    width: 145px;
    height: auto;
    margin-top: 18px;
}

.search-bar {
    flex: 1;
}

.profile img {
    object-fit: cover;
}

.profile span {
    font-weight: 500;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.bg-warning-light,
.card-agenda {
    background-color: #fffbe6 !important;
}

.bg-success-light {
    background-color: #E6FFF7 !important;
}

.bg-danger-light {
    background-color: #ffeaea !important;
}

.text-dark {
    color: #343a40 !important;
}

.text-dark.p {
    font-size: 15px
}

.text-bg-success {
    color: #40997E;
}

.text-bg-warning {
    color: #E0A23A;
}

.text-bg-danger {
    color: #FF3737;
}

.bg-bem-vindo {
    background-color: #E2A925 !important;
    height: 115px !important;
}

.text-primary {
    /*color: #3b2900 !important;*/
    color: #282828 !important;
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.bg-purple-light {
    background-color: #ccc9f0;
}

.text-bg-purple {
    color: #6f42c1;
}

.profile-container img {
    object-fit: cover;
}

.profile-container h5,
.profile-container small,
.profile-container p {
    margin: 0;
}

.text-small {
    font-size: 13.5px
}

.profile:hover {
    cursor: pointer;
}

.icon-container {
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
    position: relative;
}

.icon-container:hover {
    color: #343a40;
}

.icon-container .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.icon-container.show .dropdown-menu {
    display: block;
}

.icon-container i {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile {
    position: relative;
}

.profile-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -180px;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item i {
    margin-right: 8px;
}

footer {
    background-color: #fff;
    color: #E2A925;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
}

.card-detalhes-alunos {
    height: 205px;
}

/*.btn-cadastro {
    background: #c6e4a9 !important;
    border: 1px solid #074c27 !important;
    color: #032f17 !important;
}*/

.btn-cadastro {
    background: #e4f1ff !important;
    border: 1px solid #3a5170 !important;
    color: #032f17 !important;
}


.btn.btn-primary {
    background: #e3b04b !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important;
}

.btn.btn-primary:active {
    background: #757575 !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    border: 1px solid #e3b04b;
    background-color: #393939;
}

.btn.btn-primary:focus,
.btn-primary-light:focus,
.btn-outline-primary:focus,
.btn-primary-light:active .btn.btn-primary.focus,
.btn-primary-light.focus,
.btn-outline-primary.focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    border: 1px solid #e3b04b;
    background: transparent;
    color: #e3b04b;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    border: 1px solid transparent !important;
    background: #9c9c9c !important;
    color: #fff;
}

.btn-primary-light {
    background: #fffbe6 !important;
    border: 1px solid #e3b04b !important;
    color: #545454 !important;
}

.btn-outline-secondary:hover {
    background: transparent;
    color: #545454 !important;
}

.form-control-file.bg-primary {
    background-color: #e3b04b !important;
}

/*.btn-blue-light,
.table-primary {
    background-color: #e6ecff;
    color: #4e4e4e;
    border: 1px solid #6d92ae;
}*/

.btn-blue-light,
.table-primary {
    background-color:
        /*#f4f7ff*/
        #f8faff;
    color: #4e4e4e;
    border: 1px solid #91adc3;
}

.fc-toolbar-title {
    text-transform: capitalize;
}

.fc-event-title {
    text-transform: uppercase;
    color: #000;
    text-wrap: wrap;
}

.custom-event {
    background-color: #e3b04b !important;
    border-color: #e3b04b !important;
}

.fc .fc-daygrid-event-dot {
    border-color: #e3b04b !important;
}

.fc-event-title-container {
    background-color: #e3b04b !important;
    border: none
}

.fc-h-event {
    border: 1px solid #9c9c9c !important;
    border: 1px solid var(--fc-event-border-color, #e3b04b) !important;
    background-color: #5c5c5c !important;
    background-color: var(--fc-event-bg-color, #535353) !important;
}

.news-card {
    margin-bottom: 20px;
}

.news-header {
    background-color: #e6ecff;
    color: #4e4e4e;
}

.news-footer {
    background-color: #f8f9fa;
}

.card-header-cadastro {
    background-color:
        /*#ffc107*/
        /*#ffdd7c*/
        #ffe6a0;
    color: #000;
}

.card-bg-light {
    background: #fffbe6 !important;
    color: #545454 !important;
}

.btn-link.blue {
    color: #545454 !important;
}

.btn-rounded {
    border-radius: 20px;
}

.bold {
    font-weight: 600;
}

/*Breadcrumb*/
.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    color: #333;
}

.breadcrumb-item:first-child {
    list-style: none;
}

.breadcrumb-item:last-child {
    font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    margin-right: 5px;
}

.btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    text-decoration: none;
    color: #000;
}

.btn-link i {
    transition: transform 0.3s ease;
}

.btn-link.collapsed i {
    transform: rotate(90deg);
}

.card-header {
    padding: .55rem 1.15rem !important;
}

.card-header-cadastro {
    cursor: pointer;
}

.btn-icon i {
    margin-right: 5px;
}

.icon-view {
    color: rgb(140, 140, 202);
}

.icon-edit {
    color: orange;
}

.icon-menu {
    color: gray;
}

.icon-access {
    color: green;
}

.icon-file {
    color: purple;
}

.icon-id {
    color: darkblue;
}

.icon-enrollment {
    color: teal;
}

.icon-student {
    color: brown;
}

.icon-delete {
    color: red;
}

.icon-etapas {
    color: #007bff;
}

.icon-unidades {
    color: #28a745;
}

.icon-calendario {
    color: #17a2b8;
}

.icon-relatorio {
    color: #064172;
}

.icon-configurar-avaliacao {
    color: #565656;
}

.icon-detalhes-calendario-anual {
    color: #539e6f;
}

.photo-box {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.photo-box i {
    font-size: 50px;
    color: #888;
}

.element-box {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    height: auto;
}

.document-container {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.document-title {
    text-align: center;
    margin-bottom: 30px;
}

.document-section {
    margin-bottom: 20px;
}

.document-label {
    font-weight: bold;
}

.no-print {
    margin-bottom: 20px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable,
    .printable * {
        visibility: visible;
    }

    .printable {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .no-print {
        display: none;
    }
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.info-list div {
    width: 15%;
    margin-bottom: 10px;
}

.info-list dt {
    font-weight: bold;
}

.info-list dd {
    margin-top: 5px;
}

.element-wrapper .element-header:after {
    content: "";
    background-color: #E0A23A;
    width: 25px;
    height: 4px;
    border-radius: 0;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.element-wrapper .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.add-category-btn {
    cursor: pointer;
}

#new-category-section {
    display: none;
}

.container#new-category-section {
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 15px;
    margin: auto;
}

.container-cinza {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.excluir-icon {
    color: #dc3545;
    cursor: pointer;
}

.text-danger {
    color: #721c24 !important;
}
 
.ribbon {
    position: fixed;
    top: 0px; 
    z-index: 9999;
    width: 17em;
    height: 25px;
    overflow: hidden;
    background-color: #031138;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 2em;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(0deg);
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
}

#abre_janela_wp span,
#fecha_janela_wp span {
    display: block;
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

#abre_janela_wp span i,
#fecha_janela_wp span i {
    display: none;
}

#abre_janela_wp.open {
    right: 0 !important;
}

#abre_janela_wp {
    right: -50px;
}

#abre_janela_wp,
#fecha_janela_wp {
    z-index: 500;
    top: 120px;
}

#abre_janela_wp,
#fecha_janela_wp,
#janela_wp {
    position: fixed;
    right: 0;
    top: 160px;
    z-index: 500;
    background: #88dcab;
    color: #FFF;
    -webkit-border-top-left-radius: .3rem;
    -webkit-border-bottom-left-radius: .3rem;
    -moz-border-radius-topleft: .3rem;
    -moz-border-radius-bottomleft: .3rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    -webkit-box-shadow: 0 0 0.3rem 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 .3rem 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 0.3rem 0 rgba(50, 50, 50, 0.75);
    background-color: #ababab;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#fecha_janela_wp.close {
    right: -60px !important;
}

#abre_janela_wp,
#fecha_janela_wp {
    z-index: 500;
    top: 120px;
}